ion-content ion-toolbar {
  --background: translucent;
}
ion-card {
  ion-card-content.card-content-ios {
    padding-bottom: 0;
  }
  ion-footer {
    ion-button {
      color: #777;
      ion-label {
        margin-left: 5px;
      }
    }
  }
}