ion-content ion-toolbar {
  --background: translucent;
}
ion-card {
  ion-item {
    position: absolute;
    width: 100%;
    --background: rgba(255,255,255,0.8);
  }
  ion-card-content.card-content-ios {
    padding-bottom: 0;
  }
  ion-footer {
    ion-button {
      color: #777;
      ion-label {
        margin-left: 5px;
      }
    }
  }
}